//CORES----------------------------------------------
$cor-preto: #282828;
$cor-marca-dagua: #306823;
$cor-branco: #E6E6E6;
$cor-verde: #43e622;
$cor-verde-shadow: #13a000;
$cor-verde-hover: #58ff37;



//FONTES---------------------------------------------
$tam-font-32: 2rem;
$tam-font-22: 1.375rem;
$tam-font-18: 1.125rem;
$tam-font-16: 1rem;
$tam-font-14: 0.875rem;
$tam-font-12: 0.75rem;
$tam-font-10: 0.625rem;



// MEDIA-QUERY---------------------------------------
@mixin viewport($breakpoints){
  $devices:(
      xs: 320px,
      sm: 480px,
      smd: 600px,
      md: 768px,
      lg: 992px,
      xl: 1200px
  );
  $breakpoint: map-get($devices, $breakpoints);
  
  @media(max-width: $breakpoint){
      @content
  }
}