.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container header {
  width: 50%;
  margin: 84px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container header img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 7px;
}

.container header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container input {
  width: 50%;
  padding: 24px;

  background: #E6E6E6;
  border-radius: 5px;
  border: none;
  color: #252525;
  font-size: 16px;
}

button {
  width: 50%;
  margin: 12px 0 60px;
  color: #306823;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #43e622;
  border: 1px solid #83ee88;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 6px 0px #13a000;
  transition: all .1s;
  cursor: pointer;
}
 
button:active {
  box-shadow: 0px 2px 0px #13a000;
  position: relative;
  top: 4px;
}