.card {
  width: 50%;
  background: #E6E6E6;
  color: #252525;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: .7rem;
}

.card strong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.card small {
  display: flex;
  justify-content: end;
  margin-top: .5rem;
}