@use '../../styles/variables' as *;

.card{
  width: 60rem;
  max-width: 90vw;
  background: $cor-branco;
  color: $cor-preto;
  border-radius: 5px;
  padding: .5rem;

  strong {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    text-transform: capitalize;
    padding: .3rem;
  }
  
  small {
    display: flex;
    justify-content: end;
    margin-top: .5rem;
  }
}
